html {
    width: 100%;                    /* 100% width of parent (root) element */
    height: 100vh;                  /* 100% height of viewport */
    background:beige ; /* 10% opacity black (very light gray) */
    font-size: 1.0em;               /* our root font size */
  }
  
  body {
    margin: 0;                      /* content goes to edge of viewport */
    height: 100vh;                  /* and spans height of viewport */
  }
  div.container {
    min-height: 25rem;            /* mainbody height never squishes < 25rem */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:
      [left] 10rem auto 0rem [right];
    grid-template-rows:
      [top] 5rem auto 5rem [bottom];
    grid-template-areas:
      "head head head"
      "panleft mainbody panright"
      "foot foot foot";
  }
  
  
  
  
  div.header {
    background:gray;                             /* 20% black */
    grid-area: head; 
    text-align: left; 
   text-decoration-color:brown;
  
  }
  
  
  div.footer {
    background: grey;
    grid-area: foot;
    text-align :center;
  }
  div.panel {                            /* div elements with "panel" class */
    background:bisque;                             /* 10% black */
  }
  
  
  .container .sidebar{
    position: fixed;
    top: 80px;
    left: 0px;
    bottom:80px;
    background:bisque;   
    width: 100px;
     /*height: calc(100% - 100px);*/
     border-bottom-right-radius: 80px;
    transition: all 0.5s ease;
  }
  
  .container  .sidebar ul li a{
      display: block;
      padding: 30px;
      
      position: relative;
      margin-bottom: 40px;
  
      white-space: nowrap;
  }
  
  .container .sidebar ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background:grey;
    display: none;
  }
  
  
  .container .sidebarul li a span.title{
    display: inline-block;
  }
  
  .container .sidebar ul li a:hover,
  .container .sidebar ul li a.active{
    background:grey;
    color:grey
  }
  
  .container .sidebar ul li a:hover:before,
  .container .sidebar ul li a.active:before{
    display: block;
  }
  
  .container .sidebar{
    width: 160px;
  }
  
  .container.collapse .sidebar ul li a{
    text-align:left; 
  }
  
  .container.collapse .sidebar ul li a span.icon{
    margin: 0;
  }
  
  .container.collapse .sidebar ul li a span.title{
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*div.panel.right {
    grid-area: panright;
    border-bottom-left-radius: 80px;
  }*/
  div.mainbody {
    background-color:beige; 
    text-align: center; 
  
  
    grid-area: mainbody;
    width: 80rem;                   /* mainbody width is fixed */ justify-self:  center;           /* and always centered in grid area */
  }
  
  
  
  @media screen and (max-width: 600px) {     /* if viewport width < 50rem */
    div.panel.left {
      grid-column-end: left;            /* left panel stops at left edge */
    }
  
   
   
  }
 
/* Create two columns that float next to eachother */
.column {
  float: center ;
  width: 700x;
  margin-top: 10px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display:table;
  clear: both;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 100px;
  }
}

